.main-footer {
    text-align: center;
}

.btn {
    margin-right: 5px;
    margin-bottom: 5px;
}

.tableActions {
    width: 30%;
    text-align: center;
}

.buttonsActions {
    text-align: center;
}